
body{
	text-align: center;
}

nav{
	text-align: center;
}

ul{
	list-style-type: none;
}

li{
	float: left;
	margin-left: 30px;
}

.space{
	height: 50px;
}

#hero{
	background-image: url("https://via.placeholder.com/1350x250");
	background-position: center;
	background-size: cover;
	padding:250px;
}

#cajanegra{
	background-color:black;
	color: white;
	padding:50px;
}

#cajanegra p{
	
	color: red;
}

.contenedorde3{
	padding-left: 150px;
	padding-right: 150px;
	min-height: 300px;
}

.caja1_3{
	float:left;
	position: relative;
	width: 30%;
	padding: 20px;
	border: 1px solid grey;
	min-height: 300px;
	margin-top: 20px;
}

.contenedorde2{
	padding-left: 250px;
	padding-right: 250px;
	min-height: 150px;
}

.caja1_2{
	float:left;
	position: relative;
	width: 49%;
	border: 1px solid #FAFAFA;
	min-height: 300px;
	margin-top: 20px;
}

.rojo{
	color: white;
	background-color: red;
}


.negro{
	color: white;
	background-color: black;
}